<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Cadastro de Leg</title>
<link rel="stylesheet" th:href="@{/css/styleNovo.css}">
</head>

<body>
	<h1>Cadastro de Leg</h1>
	<form th:action="@{/legs}" th:object="${leg}" method="post">
		<input type="hidden" th:field="*{id}"> <label>Nome:</label> <input
			type="text" th:field="*{nome}"><br>
		<br>		
		
		<button type="submit">Salvar</button>
	</form>
	<a th:href="@{/legs}">Voltar</a>
</body>
</html>
