<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Legs</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Legs</h1>
	<div th:replace="fragments/link :: navbar"></div>
	<a th:href="@{/legs/novo}"> CADASTRO </a> |
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Foot</th>
			<th>Ações</th>
		</tr>

		<tr th:each="l : ${legs}" th:if="${l != null}">
			<td th:text="${l?.id}"></td>
			<td th:text="${l?.nome}"></td>
			<td th:text="${l?.foot.nome}"></td>
			<td><a th:href="@{/legs/editar/{id}(id=${l?.id})}">Editar</a>
				| <a th:href="@{/legs/excluir/{id}(id=${l?.id})}">Excluir</a></td>
		</tr>
	</table>
</body>
</html>