<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- MENU / NAVBAR -->
<div th:fragment="navbar">
    <nav class="navbar">
	      <a th:href="@{/foots}"> Foot </a> |
	      <a th:href="@{/legs}"> Leg </a> |
	      <a th:href="@{/thighs}"> Thigh </a> |
	      <a th:href="@{/hips}"> Hip </a> |
	      <a th:href="@{/stomachs}"> Stomach </a> |
	      <a th:href="@{/arms}"> Arm </a> |
	      <a th:href="@{/chests}">Chest </a> |
	      <a th:href="@{/necks}"> Nick </a> |
	      <a th:href="@{/heads}"> Hear </a> 
    </nav>
</div>

<!-- FOOTER >
<footer th:fragment="footer">
    <div class="footer">
        <p>© 2025 - Sistema XYZ</p>
    </div>
</footer-->

</body>
</html>
