<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Arms</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Arms</h1>
	<div th:replace="fragments/link :: navbar"></div>
	<a th:href="@{/arms/novo}"> CADASTRO </a>
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Stomach</th>
			<th>Ações</th>
		</tr>
		<tr th:each="n : ${arms}">
			<td th:text="${n.id}"></td>
			<td th:text="${n.nome}"></td>
			<td th:text="${n.stomach?.nome}">Sem Registro</td>
			<td><a th:href="@{/arms/editar/{id}(id=${n.id})}">Editar</a> |
				<a th:href="@{/arms/excluir/{id}(id=${n.id})}">Excluir</a></td>
		</tr>
	</table>
</body>
</html>
