<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Cadastro de Stomach</title>
<link rel="stylesheet" th:href="@{/css/styleNovo.css}">
</head>

<body>
	<h1>Cadastro de Stomach</h1>
	<form th:action="@{/stomachs}" th:object="${stomach}" method="post">
		<input type="hidden" th:field="*{id}"> <label>Nome:</label> <input
			type="text" th:field="*{nome}"><br>
		<br>		
		<select th:field="*{hip.id}">
			<option value="">Selecione</option>
			<option th:each="h : ${hips}" th:value="${h.id}" th:text="${h.nome}"></option>
		</select><br> <br>
		
		<button type="submit">Salvar</button>
	</form>
	<a th:href="@{/stomachs}">Voltar</a>
</body>
</html>

