<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Thighs</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Thighs</h1>
	<div th:replace="fragments/link :: navbar"></div>
	<a th:href="@{/thighs/novo}"> CADASTRO </a> |
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Leg</th>
			<th>Ações</th>
		</tr>

		<tr th:each="t : ${thighs}" th:if="${t != null}">
			<td th:text="${t?.id}"></td>
			<td th:text="${t?.nome}"></td>
			<td th:text="${t?.leg.nome}"></td>
			<td><a th:href="@{/thighs/editar/{id}(id=${t?.id})}">Editar</a>
				| <a th:href="@{/thighs/excluir/{id}(id=${t?.id})}">Excluir</a></td>
		</tr>
	</table>
</body>
</html>