<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Hips</title>
<link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
	<h1>Hips</h1>
	<div th:replace="fragments/link :: navbar"></div>
	<a th:href="@{/hips/novo}"> CADASTRO </a> |
	<table border="1">
		<tr>
			<th>ID</th>
			<th>Nome</th>
			<th>Thigh</th>
			<th>Ações</th>
		</tr>

		<tr th:each="h : ${hips}" th:if="${h != null}">
			<td th:text="${h?.id}"></td>
			<td th:text="${h?.nome}"></td>
			<td th:text="${h?.thigh.nome}"></td>
			<td><a th:href="@{/hips/editar/{id}(id=${h?.id})}">Editar</a>
				| <a th:href="@{/hips/excluir/{id}(id=${h?.id})}">Excluir</a></td>
		</tr>
	</table>
</body>
</html>